
  body {
    background-color: #04a6eb;
    color: #fdffff;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    height: 20000px;
  }
  button {
    cursor: pointer;
    height: 30px;
    padding: 5px 20px;
    background-color: #ffffff;
    border-style: none;
  }